body{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  15px;
}
.hero{
    background: url(../img/Heroimg.jpg)center / cover;
    height: 1000px;
}
header{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
}
.header__nav{
    display: flex;
    margin: 0 auto;
    gap: 56px;
}
.header__nav-link{
    text-decoration: none;
    color:#FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;

}
.hero__content{
    padding: 350px 0 0 0;
}
.hero__content-title1{
    color:  #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
}
.hero__content-title2{
    font-family: Poppins;
    font-size: 100px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.954);
}
.hero__content__muzic{
    display: flex;
    align-items: center;
    gap: 45px;
}

  @keyframes pulse {
    0% {
      transform: scaleY(3);
    }
    50% {
      transform: scaleY(1.5);
    }
    100% {
      transform: scaleY(1);
    }
  }
  
  .muzic-line {
    width: 887px;
    height: 3px;
    background: white;
    animation: pulse 0.5s infinite alternate; /* Применение анимации */
  }
  .muzic-continue{
    color:  #FFF;
    text-align: right;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
  }
  .hero__info{
    /* position: relative; */
    /* top: 150px; */
    display: flex;
    margin-top: 143px;
    gap: 30px;
  }
  .hero__info-img{
    width: 100%;
  }
  .hero__info__one{
    position: relative;
  }
  .hero__info__content{
    position: absolute;
    bottom: 0;
  }
  .hero__info-text{
    max-width: 310px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    background:  #7A66CC;
    border-radius: 20px 0px;
    opacity: 0.7;
    padding: 21px 20px;
    margin: 0;
  }
  .hero__bright{
    background: #1C1B21;
    height: 100vh;
  }
  .slide__show{
    width: 1000px;
    height: 500px;
    overflow: hidden;
    border: 5px solid #FFF;
  }
  .navigation{
    position: absolute;
    left: 50%;
    
  }
  .bright__infos__1{
    display: flex;
    gap: 125px;
    padding-top: 240px;
  }
  .bright__infos-img{
    width: 100%;
    max-width: 350px;
  }
  .infos__1-text{
    max-width: 540px;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
  }
  .header-texttitle{
    display: flex;
    gap: 20px;
  }
  .infos__1-title{
    color:  #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
  }
  .infos__1-images{
    position: relative;
  }
  .bright__infos__1-img1{
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
    width: 400px;
  }
  .bright__infos__1-img{
    position: absolute;
    z-index: 2;
  }
  .bright__infos__1__footer{
  display: flex;
  gap: 45px;
  }
  .bright__infos__footer1{
    /* display: flex;
    align-items: center; */
  }
  span{
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
  }
.footer1__2{
    display: flex;
    align-items: center;
    margin-top: 33px;
}

  
  